.FindWizelinerHeader__container {
  min-height: 200px;
  background-image: url("../../../assets//img/banner2.jpg");
  background-size: auto 100%;
  background-color: #ad1224;
  text-align: center;
  padding-top: 40px;
}
.FindWizelinerHeader__container > svg {
  max-width: 300px;
}
